git+https://github.com/CodenameSource/scibert.git
spacy==2.2.4
git+https://github.com/ramsrigouthamg/Questgen.ai
git+https://github.com/boudinfl/pke.git@f651015f9c931cf245a753f4457bb49f0befa5fd
overrides==3.1.0
pandas==1.1.1
